$main-bg-color: #ffffff;
$secondary-bg-color: #495163;

$main-header-color: #ffe14c;
$header-text-color: #0d111a;

$main-text-color: #3e4149;
$secondary-text-color: #c6c7cd;
$accent-text-color: #353840;
$main-title-color: #f8f8f9;
$background-title-color: #0d111a;

$range-fill-color: #0d111a;
$range-background-color: #edf0f5;

// $main-margin: 30px;
